@page "/inscripcion/{InscripcionId:int}"
<h3>RInscripcion</h3>

<EditForm Model="Inscripcion" OnValidSubmit="Guardar">
	<DataAnnotationsValidator />

	<div class="form-group">
		<label for="InscripcionId">Inscripcion Id</label>
		<div class="input-group col-sm-3">
			<InputNumber @bind-Value="@Inscripcion.InscripcionId" class="form-control" />
			<ValidationMessage For="@(()=>Inscripcion.InscripcionId)" />
			<button type="button" class="btn btn-outline-info" @onclick="Buscar">Buscar</button>
		</div>
	</div>

	<div class="form-group">
		<label for="estudianteId">Estudiante Id</label>
		<div class="input-group col-sm-3">
			<InputNumber @bind-Value="@Inscripcion.EstudianteId" class="form-control"/>
			<ValidationMessage For="@(()=>Inscripcion.EstudianteId)" />
			<button type="button" class="btn btn-outline-info">Buscar Estudiante</button>
		</div>
	</div>

	<div class="form-group">
		<label for="Semestre">Semestre</label>
		<InputText @bind-Value="@Inscripcion.Semestre" class="form-control" />
		<ValidationMessage For="@(()=>Inscripcion.Semestre)" />
	</div>

	<div class="form-group">
		<label for="Limite">Limite de Creditos</label>
		<InputNumber @bind-Value="@Inscripcion.Limite" class="form-control" />
		<ValidationMessage For="@(()=>Inscripcion.Limite)" />
	</div>

	<div class="form-group">
		<label for="tomado">Creditos Tomados</label>
		<InputNumber @bind-Value="@Inscripcion.Tomados" class="form-control" @oninput="CalcularCreditos" @onfocusin="CalcularCreditos" @onfocusout="CalcularCreditos"/>
		<ValidationMessage For="@(()=>Inscripcion.Tomados)" />
	</div>

	<div class="form-group">
		<label for="disponible">Creditos Disponible</label>
		<InputNumber @bind-Value="@Inscripcion.Disponible" class="form-control" disabled />
		<ValidationMessage For="@(()=>Inscripcion.Disponible)" />
	</div>

	<div class="form-group">
		<label for="monto">Monto</label>
		<InputNumber @bind-Value="@Inscripcion.Monto" class="form-control" @oninput="CalcularCreditos"  @onfocusin="CalcularMonto" @onfocusout="CalcularMonto" />
		<ValidationMessage For="@(()=>Inscripcion.Monto)" />
	</div>

	<div class="form-group">
		<label for="balance">Balance</label>
		<InputNumber @bind-Value="@Inscripcion.Balance" class="form-control" disabled/>
		<ValidationMessage For="@(()=>Inscripcion.Balance)" />
	</div>

	<div class="form-group">
		<label for="fecha">Fecha</label>
		<InputDate @bind-Value="@Inscripcion.Fecha" class="form-control" />
		<ValidationMessage For="@(()=>Inscripcion.Fecha)" />
	</div>

	<div class="form-group">
		<button type="button" class="btn btn-outline-secondary" @onclick="Limpiar">Limpiar</button>
		<button type="submit" class="btn btn-outline-success">Guardar</button>
		<button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar</button>
	</div>

	<h5 class="text-success">@mensaje</h5>


</EditForm>



@code {
	[Parameter] public int InscripcionId { get; set; } 

	public Inscripcion Inscripcion = new Inscripcion();

	public string mensaje = "";

	protected override void OnInitialized()
	{
		Inscripcion = new Inscripcion();

		if (InscripcionId != 0)
		{
		    Inscripcion.InscripcionId = InscripcionId;
			Buscar();
		}
	}


	public void Guardar()
	{
		InscripncionController controller = new InscripncionController();
		EstudianteController controllerEst = new EstudianteController();

		CalcularMonto();
		if (controller.Guardar(Inscripcion))
		{
			mensaje = "Inscripcion Guardada";
		}
		else
		{
			mensaje = "Error al guardar Inscripcion";
		}
	}

	public void Buscar()
	{
		InscripncionController controller = new InscripncionController();

		var inscripcion = controller.Buscar(Inscripcion.InscripcionId);

		if (inscripcion!=null)
		{
			Inscripcion = inscripcion;
		}
		else
		{
			mensaje = "Inscripcion no existe";
		}
	}

	public void Eliminar()
	{
		InscripncionController controller = new InscripncionController();


		var inscripcion = controller.Buscar(Inscripcion.InscripcionId);

		if (inscripcion!=null)
		{
			controller.Eliminar(Inscripcion.InscripcionId);
			mensaje = "Inscripcion Eliminada";
		}
		else
		{
			mensaje = "Error al Eliminar";
		}
	}

	public void Limpiar()
	{
		mensaje = "";
		this.Inscripcion = new Inscripcion();
	}

	public void CalcularMonto()
	{
		if (Inscripcion !=null)
		{
			Inscripcion.Balance = Inscripcion.Monto * Inscripcion.Tomados;
		}
	}

	public void CalcularCreditos()
	{
		if (Inscripcion != null)
		{
			Inscripcion.Disponible = Inscripcion.Limite - Inscripcion.Tomados;
		}
		else
		{
			mensaje = "Error al Calcular";
		}
	}


}
